<!DOCTYPE html>
<html>
  <head>
    <title>Percentage of Occupations in the United States</title>
  </head>
  <body>
    <p align="center"><b>Jobs and Their Percentage in the United States</b>
      <br/><br/>Random Job: {{randomJob}}</p>
    <table style="margin:auto;" border="1">
      <tr>
        <th>Job Class</th>
        <th>Percentage</th>
      </tr>
      {% for job in dict%}
      <tr>
        <td>{{job}}</td>
        <td>{{dict[job]}}</td>
      </tr>
      {% endfor%}
      <tr>
        <td>
          Total
        </td>
        <td>
          99.8
        </td>
      </tr>
    </table>
  </body>
</html>
